.item1{ 
    grid-area: myArea;
}

.grid-container {
    display: grid;
    grid-template-areas: 'myArea myArea . . .';
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: darkgray;
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
}