.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: cornflowerblue;
    padding: 10px;
}

.grid-container > div {
    background-color:aliceblue;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

